# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# testing


# next.js
/.next/


# production
/build

# misc


# debug


# env files (can opt-in for committing if needed)
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# CMS runtime data
node_modules/
.next/
